.hero {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.caroussel {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1280px;
  height: 720px;
  scrollbar-width: 0;
}

.item {
  position: absolute;
  inset: 0; /* shorthand for top:0; right:0; bottom:0; left:0; */
  border-radius: 16px;
  transform: scale(.9);
  transition: transform 0.5s ease, opacity 0.5s ease;
  z-index: 1;
  width: 100%;
  height: 100%;

  &:not(.active) {
    transform: translateY(50px) scale(.9);
  }
}

.item.active {
  transform: scale(1);
  animation: opacityChange .3s;
  z-index: 10;
  scale: 1;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease, scale 0.1s;

  &:active {
    scale: .98;
  }
}

.item img {
  border-radius: 16px;
}

.item-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  padding: 10px 15px;

  .item-creator {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  p,
  h2 {
    padding: 0;
    line-height: 0;
  }

  p {
    margin: 0;
    font-weight: 600;
  }
}