.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  background-image: linear-gradient(
    180deg,
    #ffffffaa 0%,
    #ffffffaa 50%,
    #ffffff00 100%
  );
  backdrop-filter: blur(5px);
  z-index: 1000;
}

.logo {
  width: 150px;
}

nav {
  display: flex;
  gap: 20px;

  a {
    color: #000000;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;

    &::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: linear-gradient(90deg, #ff4d9f 0%, #002bff 100%);
      transition: width 0.3s cubic-bezier(0.6, 0, 0.51, 0.95);
    }

    &:hover::after {
      width: 100%;
    }
  }
}
