.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  background-image: linear-gradient(
    180deg,
    #ffffffaa 0%,
    #ffffffaa 50%,
    #ffffff00 100%
  );
  backdrop-filter: blur(5px);
  z-index: 1000;
}

.logo {
  width: 150px;
}

nav {
  display: flex;
  gap: 20px;

  a {
    color: #000000;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;
    padding: 10px 15px;
    border-radius: 0 0 10px 10px;
    overflow: hidden;

    &:hover {
      color: #ffffff;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      background: linear-gradient(90deg, #ff4d9f 0%, #002bff 100%);
      transition: height 0.3s cubic-bezier(0.6, 0, 0.51, 0.95);
      z-index: -1;
    }

    &:hover::before {
      height: 100%;
    }
  }
}
