/* FONTS */

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Italic";
  src: url("./assets/fonts/Inter-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  color: #000000;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  background-color: #ffffff;

  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
